In [1]:
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
from typing import List, Optional

from langchain.callbacks import get_openai_callback
from langchain.chat_models import ChatOpenAI

from kor.extraction import create_extraction_chain
from kor.nodes import Object, Text, Number

import pandas as pd
from pydantic import BaseModel, Field, validator
from kor import extract_from_documents, from_pydantic, create_extraction_chain


from langchain.schema import Document
from langchain.text_splitter import RecursiveCharacterTextSplitter

from utils import load_conversation

In [3]:
from codeinterpreterapi import CodeInterpreterSession, File

In [4]:
df = pd.read_csv('contacts.csv')

In [5]:
df.head()

,first_name,last_name,job_title,company_name,mobile_number,desk_number,business_website,email,address
0,gautam,kotwal,NaN,data-axle,NaN,NaN,NaN,gautam.kotwal@data-axle.com,NaN
1,jacob,weiss,NaN,data-axle,NaN,NaN,NaN,jacob.weiss@data-axle.com,NaN
2,manan,kathuria,NaN,data-axle,NaN,NaN,NaN,manan.kathuria@data-axle.com,NaN
3,michael,krueger,NaN,data-axle,NaN,NaN,NaN,michael.krueger@data-axle.com,NaN
4,shyam,vijayan,NaN,data-axle,NaN,NaN,NaN,shyam.vijayan@data-axle.com,NaN

In [20]:
image_url

'https://oaidalleapiprodscus.blob.core.windows.net/private/org-x95fPxmpHrkUYbxnYBh4ZF1C/user-j9EegUOAz0lZcmsgD630H2a9/img-4X1UHQ9MLJEjZ9VeKaJ5Z6jT.png?st=2023-07-28T12%3A32%3A56Z&se=2023-07-28T14%3A32%3A56Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2023-07-27T15%3A35%3A09Z&ske=2023-07-28T15%3A35%3A09Z&sks=b&skv=2021-08-06&sig=9NYLxgkFsDsOD5hgrL8VpW%2Buvnxt0Z87zPRsjJv7ZdE%3D'

In [23]:
import requests
from PIL import Image
from io import BytesIO

import openai

response = openai.Image.create(
  prompt="professional business woman",
  n=1,
  size="1024x1024"
)

def download_image(url, name):
    response = requests.get(url)

    # Make sure the request was successful
    if response.status_code == 200:
        # Open the image
        image = Image.open(BytesIO(response.content))
        
        # Save the image
        image.save(f'images/{name}.jpg')  # Specify your path here

import random
random_number = random.randint(0, 100)
image_url = response['data'][0]['url']
download_image(image_url, f'random_image_{random_number}')